* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    list-style-type: none;
  }

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: #fff8e7;
  z-index: 100;
}

header nav {
  margin: 15px;
}
header nav ul {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    display: flex;
}
header nav ul li a{
  margin: 15px;
  padding-top: 1vw;
}
article me {
  display: block;
  margin: auto 15vw auto 0;
}
.me img {
    width: 30%;
    border-radius: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
body {
  background-color: #cb6d51;
  text-align: center;
  font-size: larger;
}
body article {
  border-top: #fff8e7 solid 8px;
}

.Project-photos-main{
  width: 50%;
  height: auto;
  margin: 16px;
  border: solid #bc8f8f 15px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Project-photos {
  position: relative;
  width: 38vw;
  height: auto;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
.otherwebsites {
  display: flex;
  justify-content: space-evenly;
}
.otherwebsites a {
  border: #bc8f8f solid 15px;
}
.photos {
  position: relative;
}
.photo-text {
  position: absolute;
  }

footer h3 {
  border-top: #fff8e7 solid 5px;
}