* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(244, 208, 63, 1);
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    position: sticky;
    top: 0;
    background-image: url(../images/Cherry-bollosom.jpg);
    background-size: cover;
    background-position: center 100%;
    background-attachment: fixed;
    z-index: 9999;
}
header h1 {
    text-decoration: none;
    margin: 0;
    color: rgba(244, 208, 63, 1);
    font-size: 3vw;
    font-weight: bold;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 18px 15px;
    font-weight: normal;
    font-size: 1.6vw;
    text-shadow: 1 1 15px rgba(0,0,0,0.84);
}
body {
    padding: 60px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
.me img {
    width: 30%;
    border-radius: 45%;

}